<button *ngIf="false" (click)="go()">GO</button>
<button *ngIf="false" (click)="print()">Print</button>
<button *ngIf="false" (click)="printFile()">Print File</button>
<button *ngIf="false" (click)="printCertificates()">Print Certificates</button>
<button *ngIf="false" (click)="getCertificateApi()">Certificate</button>
<div class="input-container">
    <input class="quantity" #input value="100" />
    <div>
        <input type="checkbox" id="print" name="print" [checked]="printPdf" (change)="printPdf = !printPdf">
        <label for="print">Print</label>
    </div>
</div>
<div class="buttons-container">
    <button (click)="callPrimaveraCertificate()">brasinhas</button>
    <button (click)="callNewCertificate()">RootCA</button>
    <button (click)="callMicroCertificate()">microservice</button>
</div>
<div class="info-container">
    <div class="info-div">
        <span>Errors</span>
        <input #errorsInput [value]="this.errors" />
    </div>
    <div class="info-div">
        <span>Ok</span>
        <input #okInput [value]="this.oks" />
    </div>
</div>